*{
    margin: 0;
    padding: 0;
}

header{
    margin: 0 0 20px 0;
}

#nav{
    float: right;
}

#logo img{
    margin: 20px;
    width: 50px;
    height: 50px;
}

#Demo{
    border: 1px solid red;
    margin: 20px 0;

}

.demobox{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 20px;
    text-align: center;
    line-height: 200px;
    color: green;
}

#Demo a:link{
    text-decoration: none;
}

#self-introduction{
    border: 1px solid red;
    text-align: center;
}

#self-introduction img{
    width: 180px;
    height: 240px;;
    position: relative;
    left: -90px;
}

#introduction{
    position: relative;
    top:-120px;
    left:100px

}

footer{
    margin: 20px 0 0 0;
}
